{% extends 'base.html' %}
{% load staticfiles %}
{% load isliked %}

{% block content %}

{% for post in posts %}
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{ post.author.studentprofile.name }}  <small> একটি {{ post.category.title }} লিখেছে</small> </h4>
                    <p><b>{{ post.author.studentprofile.campus }}</b></p>
                    <p>{{ user.campus }}</p>
                </div>
                <div class="panel-body">
                    <p>{{ post.description }}</p>
                </div>
                <div class="panel-footer" onload="likeIconChange({{post.pk}})">

                    <button type="button" onclick="likesCalculator({{ post.pk }})" >
                        <i id="icon_{{ post.pk }}"class="fa fa-thumbs-o-up {% if {{post.pk|is_liked user}} %} style="color:'blue' "></i>
                    </button>
                    <span class="badge" id="id_{{ post.pk }}">{{ post.total_likes }}</span>
                </div>
            </div>
        </div>

    </div>

{% endfor %}

{% endblock %}
{% block extrajs %}
    <script src="{% static 'js/custom/likes.js' %}"></script>
{% endblock %}
